.toggle-button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
.toggle-button:selected {
    -fx-background-color: linear-gradient(#ffffff 70%, #2e86ab);
    -fx-text-fill: black;
    -fx-text-weight: bold;
}
.toggle-button:hover {
    -fx-background-color: #2e86ab;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 0px 3px;
}
.toggle-button:disabled {
    -fx-opacity: 1;
}
<<<<<<< HEAD
.button{
    -fx-background-color: transparent;
    -fx-opacity: 0.6;
}
.button:hover{
    -fx-opacity: 1;
=======

.user-auth-button {
    -fx-background-color: #2E86AB;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}
.user-auth-button:hover {
    -fx-background-color: #21a7df; 
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-cursor: HAND;
}
.user-auth-gray-button {
    -fx-background-color: #EEEEEE;
    -fx-border-color:  #959595;
    -fx-border-width: 1.25;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}
.user-auth-gray-button:hover {
    -fx-background-color: #FFFFFF;
    -fx-cursor: HAND;
}
.forgot-password-href:hover {
    -fx-underline: 1;
    -fx-cursor: HAND;
>>>>>>> c705c339fcbd1ab4b0f69a0173afb682853093b2
}